/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}
/*Header*/
header {
    background: #f0fff0 !important;
}
.nav_color {
    background: #f0fff0 !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
}
.cus_sign {
    color: white !important;
    background: #21b573;
}
/*Test*/
.menu_hov * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu_hov li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1em;
  padding: 0;
}
.menu_hov a {
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
}
.menu_hov a:before,
.menu_hov a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.menu_hov a:before {
  left: 0;
  top: 0;
  border-left: 3px solid #c0392b;
  border-top: 3px solid #c0392b;
  -webkit-transform: translate(100%, 50%);
  -ms-transform: translate(100%, 50%);
      transform: translate(100%, 50%);
}
.menu_hov a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid #c0392b;
  border-bottom: 3px solid #c0392b;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
      transform: translate(-100%, -50%);
}
.menu_hov a:hover,
.menu_hov .current a {
  color: #ffffff;
}
.menu_hov a:hover:before,
.menu_hov .current a:before,
.menu_hov a:hover:after,
.menu_hov .current a:after {
  -webkit-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
  opacity: 1;
}
/*Test*/
.menu {}
.menu ul {}
.menu ul li {}
.menu ul li a {
    font-weight: 700;
}
/*Header*/
/*Banner Start*/
#banner {
    padding-top: 50px;
    padding-bottom: 100px;
    background: #f0fff0 !important;
}
.ban_p01 {
    color: #fd511a;
    margin: 0;
}
.ban_p02 {
    margin: 0 0 30px 0;
    line-height: 30px;
}
.ban_h1 {
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 5px 0 30px 0;
}
.ban_btn {
    font-weight: 700;
    color: white;
    background: #21b573;
    padding: 10px 20px;
    border: 1px solid black;
    -webkit-box-shadow:5px 10px 10px rgba(0, 0, 0, 0.3);
            box-shadow:5px 10px 10px rgba(0, 0, 0, 0.3)
}
.es_indi {
    bottom: -40px;
    left: -200px;
    right: 79%;
}
.es_indi [data-bs-target] {
    width: 20px;
    height: 20px;
    background-color: #21b573;
    border-radius: 50%;
}
/*Banner End*/
/*Counter*/
#counter {
    padding: 50px 0;
}
.co_img {
    width: 70px;
    height: 70px;
}
.box-count {
    padding: 40px 0px;
    background: #f8fffb;
    text-align: center;
}
.box-count h2 {
    margin-top: 20px;
    margin-bottom: 5px;
}
.box-count p {
    margin: 0;
}
.count {}
/*Counter*/
/*Card*/
#courses {
    padding-top: 10px;
    padding-bottom: 40px;
}
.cor_h1 h1 {
    color: #413960;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 35px;
}
.card-box {
    -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 15px;
    border-radius: 20px;
}
.card-box h4 {
    margin: 15px 0 0px 0px;
    font-weight: 600;
}
.card-box p {
    margin: 0px 0 30px 0px;
}
.card-btn {
    padding: 10px 20px;
    color: white !important;
    background: #21b573;
    text-decoration: none;
    font-weight: 700;
}
.date-text {
    text-align: left;
}
.seat-text {
    text-align: right;
}
/*Card*/
/*Testimonial*/
#testimonial {
    padding-top: 10px;
    padding-bottom: 50px;
}
.user-pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.user-img {
    width: 112px;
    border-radius: 50%;
}
.user-img img {
    width: 100%;
    border-radius: 50%;
}
.user-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
}
.carousel-caption {}
.carousel-caption h5 {
    color: black;
}
.carousel-caption p {
    color: black;
}
.testi-slider {
    left: auto;
}
.testi-slider [data-bs-target] {
    width: 15px;
    height: 15px;
    background-color: #21b573;
    border-radius: 50%;
}
.carousel-indicators {
    bottom: -22px;
}
/*Testimonial*/
/*Footer*/
footer {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #282531;
}
.fo_logo {
    width: 200px;
}
.mill_peo {
    margin: 25px 0;
}
.foo_text {
    color: white;
}
.foo_text h5 {
    padding-bottom: 10px;
    font-weight: 600;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
}
address {
    color: white;
}
address p {
    margin: 0;
}
/*Footer*/
.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}